/Componentes Visuales/JPanelImagenPropiedades/JPanelImagenPropiedades/nbproject/private/
/Componentes Visuales/JPanelImagenPropiedades/PruebasComponentes/nbproject/private/
/Componentes Visuales/JPanelImagenPropiedades/PruebasComponentes/build/
/Componentes Visuales/JPanelImagenPropiedades/JPanelImagenPropiedades/build/
/Componentes Visuales/JPanelImagenPropiedades/JPanelImagenPropiedades/dist/
