/a_pedidos_todos.jasper
/b_pedidos_cliente_nombre.jasper
/c_pedidos_cliente_total.jasper
/d_precio_venta_productos.jasper
/e_productos_cliente.jasper
/f_productos_cliente_agregado.jasper
/Empleados.jasper
/Grafico.jasper
/Informe.jasper
/Trabajos.jasper
